
@media (max-width: 600px) {
    .user-header {
      flex-direction: row;
    //   align-items: flex-start;

      .MuiAvatar-root {
        margin-bottom: 10px;
        margin-left: 0;
      }

      .MuiTypography-root {
        font-size: 20px;
      }
    }

    .user-details {
      .detail-item {
        .MuiTypography-root {
          font-size: 14px;
        }
      }

      .actions {
        button {
          font-size: 12px;
        }
      }
    }
  }
