.breadcrumb-not-active {
    color: black;
  }
  
  .breadcrumb-active {
    color: #000000;
  }
  
  .breadcrumb-arrow {
    margin-left: 10px;
    margin-right: 10px;
  }
  .breadcrumb{
margin-left: 120px;
position: relative;
top: 40px;
  }
  