.product_container {
    background-color: rgb(246, 244, 244);
    width: 350px;
    height: 330px;
    margin-left: 2cm;
  
    .image_product {
      width: 300px;
      height: 300px;
      margin-left: 0.6cm;
    }
  }
  .product-details {
    display: flex;
    flex-direction: column;
    margin-left: 18cm;
    margin-top: -300px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    width: 500px;
  
    // .brand-name {
    //   color: black;
    // }
  
    // .category {
    //   /* Add styling as needed */
    //   color: black;
    // }
  
    // .price {
    //   /* Add styling as needed */
    //   color: black;
    // }
  }
  .btn{
    background-color: rgb(188, 186, 186);
    left: 30px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

   
  }
  .btn:hover{
    background-color: rgb(231, 227, 227);
    
  }
