.home__carousel {
    width: 90%;
    max-width: 100%;
    margin: auto;
    padding: 20px 0;
    height: 500px;
    z-index: 0;
  }
  
  .home__carousel .react-mui-carousel-item {
    display: flex;
    justify-content: center;
  }
  
  .home__image {
    max-width: 100%;
    height: 400px;
    cursor: pointer;
  }
  